<!DOCTYPE html>
<html>
<head>
    <title>南山派出所侦办队管理系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/1.5.1/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/1.5.1/themes/icon.css">
    <block name="css"></block>

    <!--[if lt IE 9]>
    <script src="__STATIC__/html5shiv.js"></script>
    <![endif]-->

</head>
<body class="easyui-layout" data-options="border:false">

<block name="body"></block>

<!-- script -->
<script type="text/javascript" src="__PUBLIC__/easyui/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/1.5.1/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/1.5.1/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.js"></script>
<block name="script"></block>
</body>
</html>