<extend name="Public/base"/>

<block name="body">
    <ul class="nav nav-pills nav-justified">
        <li class="disabled"><a href="javascript:;">1.环境检测</a></li>
        <li class="disabled"><a href="javascript:;">2.创建数据库</a></li>
        <li class="disabled"><a href="javascript:;">3.<eq name="Think.session.update" value="1">升级<else/>初始化系统</eq></a></li>
        <li class="disabled active"><a href="javascript:;">4.升级完成</a></li>
    </ul>

    <h2><eq name="Think.session.update" value="1">升级<else/>安装</eq></h2>
    <div id="show-list" class="install-detail">
    </div>
    <script type="text/javascript">
        var list   = document.getElementById('show-list');
        function showmsg(msg, classname){
            var li = document.createElement('p'); 
            li.innerHTML = msg;
            classname && li.setAttribute('class', classname);
            list.appendChild(li);
            document.scrollTop += 30;
        }
    </script>
    <div class="actions">
        <button class="btn btn-warning btn-large disabled">正在<eq name="Think.session.update" value="1">升级<else/>安装</eq>，请稍后...</button>
    </div>
</block>